<h1>About Us</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 well well-lg">
		<p>
		ASTERiSM Healthcare Plus, Inc. provides full OEM formulation, herbal compounding and manufacturing solutions of Made in Japan beauty and healthcare products in addition to our proprietary Kinbi product line.
		</p>

		<p>
		Our product range includes high quality functional foods, health beverages, soft drinks, nutraceuticals, etc. We do OEM product development and contract manufacturing (e.g. collagen drinks, energy drinks, slimming products, supplements) in Japan to meet the needs of our customers' price and consumer target band, local tastes, regulations, etc.
		</p>

		<p>
		ASTERiSM JAPAN combines professional skills in the pharmaceutical sciences, engineering, design, business and law with GMP-certified factories based in Japan. Through ASTERiSM JAPAN Innovations, we also offer consulting services that encompass product formulation and licensing.
		</p>
	</div>
</div>
