<h1>Contact</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3 well well-lg">
		<h4>Head Office</h4>
		<p>
			Sannomiya Venture Bldg 322 <br/>
			Chuo-Ku, Hamabe-Dori 4-1-23 <br/>
			Kobe 651-0083, JAPAN <br/>
			Tel: +81 (0) 78-200-5731<br/>
			Email: info@asterism-healthcareplus.com
		</p><br/>

		<h4>International Sales Office</h4>
		</p>
			Mumbai, INDIA<br/>
			Tel: +91-99201 24848<br/>
			Email: sales@asterism-healthcareplus.com
		</p><br/>
		<p>
			ASTERiSM Healthcare Plus (株）<br/>
			〒651-0083 <br/>
			兵庫県神戸市中央区浜辺通り４丁目１－２３<br/>
			三宮ベンチャービル３２２号室<br/>
			Tel: 078-200-5731
		</p>
	</div>
</div>