<div class="center hero-unit">
	<h1>Welcome to Asterism Healthcare Plus</h1>

	<h2>
		Your place for healthy drinks from Japan
	</h2>
	<% if false %>
	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
	<% end %>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<p class="bg-danger">Please excuse our dust. Something awesome is coming soon!</p>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>