<%# Make table heads fixed to top of browser%>
<script>
	$("table.table").floatThead()
</script>


<script>
	$("#collapsible_side_panel").click(function(){
	  $("#main_table").toggleClass("col-md-10");
	}); 
</script>


<%# Script to copy item attributes from dropdown to modal_add_item %>
<script>
  edit = function(pk, p, a, pn) {
      /* initialise the input form based on function parameters */
      $("#pk").prop("value", pk);
      $("#p").prop("value", p);
      $("#a").prop("value", a);
      $("#itemModalLabel").html("Product: " + pn);
      $("#path_item_modal_body").html("Path: " + p);
      $("#v").prop("value", "");
  }
</script>

<%# Script to copy item attributes from dropdown to modal_add_value %>
<script>
  edit_value = function(pk, p, a, pn, cv, item) {
      /* initialise the input form based on function parameters */
      $("#pk2").prop("value", pk);
      $("#p2").prop("value", p);
      $("#a2").prop("value", a);
      $("#valueModalLabel").html("Product: " + pn);
      $("#path_value_modal_body").html("Path: " + p);
      $("#item_value_modal_body").html("Item: " + item);
      $("#v2").prop("value", cv);
  }
</script>

<%# Script to add new item %>
<script>
  function log(text)
  {
      $("#log").append("<li>" + text + "</li>");
  }

  $(document).ready(function() {
      $("#submit_modal_add_item").on('click', function() {
          log("make request");
          $.ajax({
              type: "get",
              url: "https://trm-dot-alldonetutils.appspot.com/c/asterism/setprodinfo/",
              data: {
                  u: "asterismui",
                  pw: "foobar",
                  pk: $("#pk").val(),
                  p: $("#p").val() + '.' + $("#i").val(),
                  a: $("#a").val(),
                  v: $("#v").val()
              },
              dataType: "text",
              crossDomain: true,
              success: function (data) {
                  log("success");
                  $("#result").html(data);
              }
          });
      });
  });
</script>

<%# Script to add/edit value of existing item %>
<script>
  function log(text)
  {
      $("#log").append("<li>" + text + "</li>");
  }

  $(document).ready(function() {
      $("#submit_modal_add_value").on('click', function() {
          log("make request");
          $.ajax({
              type: "get",
              url: "https://trm-dot-alldonetutils.appspot.com/c/asterism/setprodinfo/",
              data: {
                  u: "asterismui",
                  pw: "foobar",
                  pk: $("#pk2").val(),
                  p: $("#p2").val(),
                  a: $("#a2").val(),
                  v: $("#v2").val()
              },
              dataType: "text",
              crossDomain: true,
              success: function (data) {
                  log("success");
                  $("#result").html(data);
              }
          });
      });
  });
</script>


<%# script to delete item %>
<script>
  function log(text)
  {
      $("#log").append("<li>" + text + "</li>");
  }

  $(document).ready(function() {
      $("#delete_item").on('click', function() {
          log("make request");
          $.ajax({
              type: "get",
              url: "https://trm-dot-alldonetutils.appspot.com/c/asterism/delprodinfo/",
              data: {
                  u: "asterismui",
                  pw: "foobar",
                  pk: $("#pk2").val(),
                  p: $("#p2").val(),
                  a: $("#a2").val()
              },
              dataType: "text",
              crossDomain: true,
              success: function (data) {
                  log("success");
                  $("#result").html(data);
              }
          });
      });
  });
</script>