<div class="modal fade" id="modal_add_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Form</h4>
      </div>
      <div class="modal-body">
        <form method="" action="">
          <input id="pk" type="hidden" name="pk" value="" >
          <input id="p" type="hidden" name="p" value="" >
          <input id="a" type="hidden" name="a" value="" ><br/>
          New item (required): <input id="i" type="text" name="i" value="" required><br/>
          New value: <input id="v" type="text" name="v" value="" ><br/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="submit_modal_add_item" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>