<div class="panel-group" id="accordion">
  <div class="panel panel-default fixed" id="collapsible_sidebar">
    <div class="panel-heading slim-heading">
      <h4 class="panel-title text-center">
        <%= content_tag :a, :'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#collapsesidebar", id: "collapsible_side_panel" do %>
          Sidebar
        <% end %>
      </h4>
    </div>
    <%############### Begin collapsible panel's collapsed contents ################%>
    <%= content_tag :div, id: "collapsesidebar", class: "panel-collapse collapse" do %>
      <%= content_tag :div, id: "max-sidebar", class: "panel-body" do %>
        <form method="" action="">
          Product key: <input id="pk" type="text" name="pk" value="" ><br/>
          Path: <input id="p" type="text" name="p" value="" ><br/>
          Author: <input id="a" type="text" name="a" value="" ><br/>
          New item: <input id="i" type="text" name="i" value="" required><br/>
          New value: <input id="v" type="text" name="v" value="" ><br/>
        </form>
        <button id="submit">Submit</button>
      <% end %>
    <% end %>
  </div>
</div>