<div class="btn-group">

<%
=begin
%>  #commenting out old button with caption @step
  <button type="button" class="btn btn-default dropdown-toggle no-button-border table-highlight-primary" data-toggle="dropdown">
    <%= @table_icon %><br/><%= @step %><span class="caret"></span>
  </button>
<%
=end
%>

  <button type="button" class="btn btn-default dropdown-toggle no-button-border blink" data-toggle="dropdown">
    <%= @table_icon %><br/><%= @step %><%# <span class="caret"></span> %>
  </button>

<%
=begin %> # jquery script to remove class .blink from button 
  <script>
    $('.blink').click(function(){
        $(this).removeClass('blink');
    });
  </script>
<%
=end %>
  
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>