<footer class="footer col-md-12">
	<small>
		Copyright Asterism Healthcare Plus, inc. 2014<br/>
		Web portal developed by Philip Q Nguyen using RoR
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %>
			</li>
			<li><%= link_to "Contact", '#' %>
			</li>
			<li><%= link_to "Help", '#' %>
			</li>
		</ul>
	</nav>
	<%= render '/layouts/scripts/javascripts.html.erb' %>
</footer>